
{% extends sonata_block.templates.block_base %}

{% block block %}
    <!-- small box -->
   <div class="sonata-news-block-recent-post box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="fa {{ settings.icon }}"></i> Recent {{ settings.title }}
            </h3>
        </div>

        <div class="box-body">

            <div class="sonata-blog-post-container list-group">
                {% for post in posts %}
                <a class="list-group-item" href="/sonata/web/app_dev.php/admin/app/{{ url| lower }}/{{ post.id }}/edit">
                    {% if post.public == true %}
                    <span class="label label-success">Public</span>
                    {% else %}
                    <span class="label label-danger">Unpublished</span>
                    {% endif %}
                    &nbsp;
                    {{ post.title }}
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="box-footer">
                            <a href="/sonata/web/app_dev.php/admin/app/{{ url| lower }}/list" class="btn btn-primary btn-block"><i class="fa fa-list"></i> View all posts</a>
                    </div>
    </div>

{% endblock %}
