{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends sonata_block.templates.block_base %}

{% block block %}

    <!-- small box -->
    <div class="small-box {{ settings.class }}">
        <div class="inner">
            <h3>{{ count }}</h3>

            <p>{{ settings.title }}</p>
        </div>
        <div class="icon">
            <i class="fa {{ settings.icon }}"></i>
        </div>
        <a href="/sonata/web/app_dev.php/admin/app/{{ url|lower }}/list" class="small-box-footer">
            View more <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>

{% endblock %}
