{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block sonata_admin_content %}
    <div class="col-md-offset-3 col-md-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

